Repository uelkerd/SAMO--DL: changes, and which pre-commit hooks are due for each by the changed paths.
All: flask-debug-security-check, host-binding-security-check, pip-audit-reqs

flask-debug-security-check:
  name: Flask Debug Security Check
  entry: python scripts/security/verify_flask_debug_security.py
  language: system
  pass_filenames: false

host-binding-security-check:
  name: Host Binding Security Check
  entry: python scripts/security/verify_host_binding_security.py
  language: system
  pass_filenames: false

pip-audit-reqs:
  name: Pip Audit Requirements
  entry: bash -c 'pipx run pip-audit -r requirements*.txt || true'
  language: system
  pass_filenames: false
  stages:
  - push

📋 Create comprehensive PR description for Python 3.8 compatibility
  PR_DESCRIPTION.md
Due: none

🔧 CRITICAL: Fix Python 3.8 compatibility issue (blocking tests)
  src/api_rate_limiter.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Fix more Python 3.8 compatibility issues in JWT manager
  src/security/jwt_manager.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Add missing Dict import for Python 3.8 compatibility
  src/security/jwt_manager.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Fix Python 3.8 compatibility issues in unified_ai_api.py
  src/unified_ai_api.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Add Flask dependency and fix remaining Python 3.8 issues
  requirements-dev.txt
  src/unified_ai_api.py
Due: flask-debug-security-check, host-binding-security-check, pip-audit-reqs

📋 Create focused Python 3.8 compatibility plan and PR description
  PR_DESCRIPTION.md
  PYTHON38_COMPATIBILITY_PLAN.md
Due: none

python38: replace 3.9+ generics and union syntax with typing aliases (Dict, List, Tuple, Set, Optional) across src
  src/api_rate_limiter.py
  src/data/embeddings.py
  src/data/pipeline.py
  src/data/preprocessing.py
  src/data/prisma_client.py
  src/models/emotion_detection/api_demo.py
  src/models/emotion_detection/training_pipeline.py
  src/models/summarization/api_demo.py
  src/models/voice_processing/api_demo.py
  src/security/jwt_manager.py
  src/unified_ai_api.py
Due: flask-debug-security-check, host-binding-security-check

chore: tidy typing imports, add codemod for py38 type fixes, and remove extraneous plan/docs (not present)
  scripts/maintenance/typehint_codemod.py
  src/api_rate_limiter.py
  src/models/emotion_detection/api_demo.py
  src/models/summarization/api_demo.py
  src/models/voice_processing/api_demo.py
  src/models/voice_processing/transcription_api.py
  src/monitoring/dashboard.py
  src/security/jwt_manager.py
  src/security_headers.py
  src/unified_ai_api.py
Due: flask-debug-security-check, host-binding-security-check

py38: make rate_limiter return Dict[str, Any]; align Flask dev constraint to >=3.0.3,<4.0.0 in requirements-dev and pyproject
  pyproject.toml
  requirements-dev.txt
  src/api_rate_limiter.py
Due: flask-debug-security-check, host-binding-security-check, pip-audit-reqs

Fix all undefined name errors (PYL-E0602/F821)
  src/data/embeddings.py
  src/data/pipeline.py
  src/data/preprocessing.py
  src/data/prisma_client.py
  src/data/sample_data.py
  src/models/emotion_detection/api_demo.py
  src/models/emotion_detection/bert_classifier.py
  src/models/emotion_detection/dataset_loader.py
  src/models/emotion_detection/training_pipeline.py
  src/models/summarization/api_demo.py
  src/models/voice_processing/__pycache__/api_demo.cpython-38.pyc
  src/models/voice_processing/__pycache__/transcription_api.cpython-38.pyc
Due: flask-debug-security-check, host-binding-security-check

Fix unused variable warning in typehint codemod script
  scripts/maintenance/typehint_codemod.py
Due: flask-debug-security-check, host-binding-security-check

Fix variable shadowing issue (PYL-W0621) in training pipeline
  src/models/emotion_detection/training_pipeline.py
Due: flask-debug-security-check, host-binding-security-check

Fix continuation line indentation issues (FLK-E128) in fix_remaining_py38_types.py
  scripts/maintenance/fix_remaining_py38_types.py
Due: flask-debug-security-check, host-binding-security-check

Fix line length violations (FLK-E501) across multiple files
  scripts/maintenance/fix_remaining_py38_types.py
  scripts/maintenance/typehint_codemod.py
  src/data/pipeline.py
  src/models/emotion_detection/__pycache__/bert_classifier.cpython-38.pyc
  src/models/emotion_detection/__pycache__/dataset_loader.cpython-38.pyc
  src/models/emotion_detection/__pycache__/training_pipeline.cpython-38.pyc
  src/models/emotion_detection/dataset_loader.py
Due: flask-debug-security-check, host-binding-security-check

🚀 IMPLEMENT COMPREHENSIVE CODE QUALITY PREVENTION SYSTEM
  .pre-commit-config.yaml
  scripts/maintenance/auto_fix_code_quality.py
  scripts/maintenance/code_quality_enforcer.py
  scripts/maintenance/setup_code_quality_system.sh
Due: flask-debug-security-check, host-binding-security-check

📋 Add focused PR description for Python 3.8 compatibility
  PYTHON38_COMPATIBILITY_PR.md
Due: none

🔧 Fix remaining FLK-E128 continuation line indentation issues
  scripts/maintenance/fix_remaining_py38_types.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Fix FLK-E301 missing blank line between methods
  scripts/maintenance/typehint_codemod.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Fix remaining line length violations (FLK-E501) in maintenance scripts
  scripts/maintenance/fix_remaining_py38_types.py
  scripts/maintenance/typehint_codemod.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Fix trailing whitespace violations (FLK-W291) in maintenance scripts
  scripts/maintenance/typehint_codemod.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Fix doc line too long violation (FLK-W505) in maintenance script
  scripts/maintenance/fix_remaining_py38_types.py
Due: flask-debug-security-check, host-binding-security-check

Path conditions:
  flask-debug-security-check: any of: \.py$
  host-binding-security-check: any of: \.py$
  pip-audit-reqs: any of: ^requirements.*\.txt$
