Repository uelkerd/SAMO--DL: changes, and which pre-commit hooks are due for each by the changed paths.
All: flask-debug-security-check, host-binding-security-check, pip-audit-reqs

.pre-commit-config.yaml:

repos:
  # Python code formatting and quality
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.12
        args: [--line-length=88, --target-version=py312]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=88]

  # Fast Python linter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-PyYAML]
        args: [--ignore-missing-imports, --no-strict-optional]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, ., -f, json, -o, bandit-report.json]
        # Exclusions reduce noise in generated/demo/test files.
        # These paths are scanned separately by the non-blocking hook below.
        exclude: ^(tests/|scripts/legacy/|notebooks/|deployment/cloud-run/test_.*\.py)

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # Basic file checks
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      
      # Security checks
      - id: detect-private-key
      - id: detect-aws-credentials
      
      # Code quality
      - id: debug-statements
      - id: check-ast
      - id: check-added-large-files
        args: [--maxkb=1000]

  # Docker security
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint
        args: [--ignore, DL3008, --ignore, DL3009]

  # YAML/Markdown formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types: [yaml, yml]
        args: [--prose-wrap=always]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--fix]

  # Shell script formatting
  - repo: https://github.com/mvdan/sh
    rev: v3.7.0
    hooks:
      - id: shfmt
        args: [-i, 2, -ci]

  # Local hooks
  - repo: local
    hooks:
      # Custom security verification hooks
      - id: flask-debug-security-check
        name: Flask Debug Security Check
        entry: python scripts/security/verify_flask_debug_security.py
        language: system
        types: [python]
        pass_filenames: false

      - id: host-binding-security-check
        name: Host Binding Security Check
        entry: python scripts/security/verify_host_binding_security.py
        language: system
        types: [python]
        pass_filenames: false

      # Dependency vulnerability scanning (pip-audit)
      - id: pip-audit-reqs
        name: Pip Audit Requirements
        entry: bash -c 'pipx run pip-audit -r requirements*.txt || true'
        language: system
        pass_filenames: false
        files: ^requirements.*\.txt$
        stages: [push]

      # Non-blocking Bandit on excluded paths, report only
      - id: bandit-nonblocking-tests
        name: Bandit Non-blocking (tests/docs/demo)
        entry: bash -c 'bandit -r tests docs deployment/cloud-run -f screen || true'
        language: system
        pass_filenames: false
        stages: [push]

default_language_version:
  python: python3.12

🔧 Standardize prometheus-client and requests versions: pin to exact versions for consistency
  pyproject.toml
Due: none

🔧 Fix remaining f-string logging calls and continuation line indentation in unified_ai_api.py
  src/unified_ai_api.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Fix remaining FLK-E501 line length issues in unified_ai_api.py
  src/unified_ai_api.py
Due: flask-debug-security-check, host-binding-security-check

🧪 Address code review comments: implement comprehensive test coverage for edge cases and missing scenarios
  scripts/testing/test_cloud_run_api_endpoints.py
  tests/integration/test_priority1_features.py
  tests/unit/test_api_rate_limiter.py
  tests/unit/test_api_security.py
  tests/unit/test_validation_enhanced.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Fix FLK-E127: correct continuation line indentation in config.py and resolve import issues
  scripts/testing/config.py
Due: flask-debug-security-check, host-binding-security-check

🚀 Fix CUDA performance: make CUDA_LAUNCH_BLOCKING conditional on debug flags for optimal GPU performance
  CHANGELOG.md
  scripts/testing/test_api_startup.py
  scripts/testing/test_cloud_run_api_endpoints.py
  scripts/testing/test_e2e_simple.py
  scripts/testing/test_model_status.py
  scripts/testing/test_vertex_setup.py
  scripts/training/comprehensive_domain_adaptation_training.py
  scripts/training/fixed_focal_training.py
  scripts/training/robust_domain_adaptation_training.py
  scripts/training/setup_colab_environment.py
  tests/conftest.py
  tests/e2e/test_complete_workflows.py
  tests/integration/test_priority1_features.py
  tests/unit/test_admin_endpoints.py
  tests/unit/test_anomaly_detection.py
  tests/unit/test_api_rate_limiter.py
  tests/unit/test_api_security.py
  tests/unit/test_csp_config.py
  tests/unit/test_hash_security.py
  tests/unit/test_http_exception_handler.py
  tests/unit/test_jwt_manager_extra.py
  tests/unit/test_sandbox_executor.py
  tests/unit/test_secure_model_loader.py
  tests/unit/test_validation_enhanced.py
Due: flask-debug-security-check, host-binding-security-check

📋 Test Refresh Plan: Create focused scope for testing improvements
  TEST_REFRESH_PLAN.md
Due: none

🧪 Test Refresh: Add focused training utilities and test improvements
  CHANGELOG.md
  scripts/training/training_utils.py
  tests/conftest.py
  tests/test_utils.py
Due: flask-debug-security-check, host-binding-security-check

🧪 Test Refresh: Add pytest config and health check script
  scripts/testing/check_test_health.py
  tests/pytest.ini
Due: flask-debug-security-check, host-binding-security-check

📋 Add comprehensive PR description and final cleanup
  .coverage
  PR_DESCRIPTION.md
Due: none

🔧 Address code review comments - improve test utilities
  CHANGELOG.md
  scripts/testing/check_test_health.py
  scripts/training/training_utils.py
  tests/conftest.py
  tests/requirements-test-utils.txt
  tests/test_utils.py
  tests/unit/test_test_utils.py
Due: flask-debug-security-check, host-binding-security-check

📋 Update PR description with all improvements and fixes
  PR_DESCRIPTION.md
Due: none

🔧 Fix file descriptor leak in test utilities
  CHANGELOG.md
  tests/test_utils.py
Due: flask-debug-security-check, host-binding-security-check

Update README.md
  README.md
Due: none

🔧 Fix unused variable warning PYL-W0612
  tests/unit/test_test_utils.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Fix pytest.ini configuration and location
  pytest.ini
  tests/conftest.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Fix logger handler duplication (testing-related issue)
  scripts/training/training_utils.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Address important code review feedback (testing-related)
  scripts/testing/check_test_health.py
  scripts/training/training_utils.py
  tests/pytest.ini
  tests/test_utils.py
  tests/unit/test_test_utils.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Address in-scope code review feedback (testing-related)
  pytest.ini
  scripts/training/training_utils.py
  tests/unit/test_test_utils.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Fix indentation error FLK-E122 (testing-related)
  scripts/testing/check_test_health.py
Due: flask-debug-security-check, host-binding-security-check

🔒 CRITICAL: Fix security vulnerability PTC-W6004 (testing-related)
  scripts/training/training_utils.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Fix logging performance issue PYL-W1203 (testing-related)
  scripts/training/training_utils.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Fix line length issue FLK-E501 (testing-related)
  scripts/training/training_utils.py
Due: flask-debug-security-check, host-binding-security-check

🔧 CRITICAL: Fix Python 3.8 compatibility issue (blocking tests)
  src/api_rate_limiter.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Fix more Python 3.8 compatibility issues in JWT manager
  src/security/jwt_manager.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Add missing Dict import for Python 3.8 compatibility
  src/security/jwt_manager.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Fix Python 3.8 compatibility issues in unified_ai_api.py
  src/unified_ai_api.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Add Flask dependency and fix remaining Python 3.8 issues
  requirements-dev.txt
  src/unified_ai_api.py
Due: flask-debug-security-check, host-binding-security-check, pip-audit-reqs

📋 Create Python 3.8 compatibility plan
  PYTHON38_COMPATIBILITY_PLAN.md
Due: none

🔧 Address code review feedback from PR #88
  scripts/training/training_utils.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Address final code review feedback from Gemini Code Assist
  scripts/testing/check_test_health.py
  scripts/training/training_utils.py
Due: flask-debug-security-check, host-binding-security-check

Fix dependency conflicts and improve code quality
  CHANGELOG.md
  PYTHON38_COMPATIBILITY_PLAN.md
  pyproject.toml
  requirements-dev.txt
  scripts/testing/check_test_health.py
  scripts/training/training_utils.py
Due: flask-debug-security-check, host-binding-security-check, pip-audit-reqs

Add Python cache files to .gitignore
  .gitignore
Due: none

Fix Python 3.8 compatibility: revert type annotations to typing.Dict/List
  scripts/training/training_utils.py
Due: flask-debug-security-check, host-binding-security-check
