Repository uelkerd/SAMO--DL: changes, and which pre-commit hooks are due for each by the changed paths.
All: flask-debug-security-check, host-binding-security-check, pip-audit-reqs

flask-debug-security-check:
  name: Flask Debug Security Check
  entry: python scripts/security/verify_flask_debug_security.py
  language: system
  pass_filenames: false

host-binding-security-check:
  name: Host Binding Security Check
  entry: python scripts/security/verify_host_binding_security.py
  language: system
  pass_filenames: false

pip-audit-reqs:
  name: Pip Audit Requirements
  entry: bash -c 'pipx run pip-audit -r requirements*.txt || true'
  language: system
  pass_filenames: false
  stages:
  - push

Implement proper Docker solution: pin package versions + use bookworm base for cross-architecture compatibility
  Dockerfile
  Dockerfile.multistage
  Dockerfile.new
  deployment/cloud-run/Dockerfile
  deployment/cloud-run/Dockerfile.unified
  requirements-api.txt
Due: pip-audit-reqs

Address code review feedback: move gcc/g++ to builder stages, remove unused build args, fix architecture-specific logic
  Dockerfile
  Dockerfile.multistage
  Dockerfile.new
  constraints.txt
  deployment/cloud-run/Dockerfile
  deployment/cloud-run/Dockerfile.unified
Due: none

Fix DOK-DL3008: Add version pinning for all apt-get install packages (ffmpeg=7:5.1.6-0+deb12u1, curl=7.88.1-10+deb12u12)
  Dockerfile
  Dockerfile.fixed
  Dockerfile.multistage
  Dockerfile.new
  deployment/cloud-run/Dockerfile.minimal
  deployment/cloud-run/Dockerfile.secure
  docker/Dockerfile.prod
  docker/vertex_ai_training.Dockerfile
Due: none

Fix multi-arch builds and version consistency: remove hard gcc/g++ version pins, update prometheus-client to 0.20.0 and requests to 2.32.4 across all files
  deployment/cloud-run/Dockerfile
  deployment/cloud-run/Dockerfile.unified
  deployment/cloud-run/requirements_minimal.txt
  deployment/cloud-run/requirements_onnx.txt
  deployment/cloud-run/requirements_secure.txt
  notebooks/training/domain_adaptation_gpu_training2.ipynb
  pyproject.toml
  scripts/deployment/create_model_deployment_package.py
  scripts/deployment/integrate_security_fixes.py
Due: flask-debug-security-check, host-binding-security-check

Fix DOK-DL3008: Add version pinning for gcc/g++ using Debian release pockets (4:12.2.0-*) for multi-arch compatibility
  deployment/cloud-run/Dockerfile
  deployment/cloud-run/Dockerfile.unified
Due: none

Fix Dockerfile.minimal: remove Debian-specific curl version pin, add --no-install-recommends for slimmer image
  deployment/cloud-run/Dockerfile.minimal
Due: none

Complete version consistency: update all remaining prometheus-client to 0.20.0 and requests to 2.32.4 across docs, scripts, and pyproject.toml
  docs/summaries/code-review-fixes-summary.md
  docs/summaries/integrated-security-optimization-summary.md
  docs/summaries/simple-tokenizer-fix-summary.md
  pyproject.toml
  scripts/deployment/security_deployment_fix.py
Due: flask-debug-security-check, host-binding-security-check

Comprehensive requirements alignment: fix nitpick comments, add httpx>=0.24.0 to constraints.txt, ensure all requirements files have requests==2.32.4 and httpx>=0.24.0 for complete consistency
  constraints.txt
  deployment/cloud-run/Dockerfile
  deployment/cloud-run/Dockerfile.unified
  deployment/cloud-run/requirements.txt
  deployment/cloud-run/requirements_minimal.txt
  deployment/cloud-run/requirements_onnx.txt
  deployment/cloud-run/requirements_production.txt
  deployment/cloud-run/requirements_unified.txt
  deployment/gcp/requirements.txt
  deployment/local/requirements.txt
  deployment/requirements.txt
  requirements-audio.txt
  requirements-dev.txt
  requirements-ml.txt
  scripts/requirements_vertex_ai.txt
Due: pip-audit-reqs

Fix Dockerfile.unified paths for building from deployment/cloud-run directory
  deployment/cloud-run/Dockerfile.unified
Due: none

Revert Dockerfile.unified paths to work from project root directory
  deployment/cloud-run/Dockerfile.unified
Due: none

Add consolidated Dockerfile: single file with build args for all variants (minimal, unified, secure, production)
  deployment/cloud-run/Dockerfile.consolidated
  deployment/cloud-run/README-consolidated-dockerfile.md
Due: none

Improve emotion model loading: better logging, less alarming warnings, add environment variable documentation
  deployment/cloud-run/README-consolidated-dockerfile.md
  src/unified_ai_api.py
Due: flask-debug-security-check, host-binding-security-check

🎉 Consolidate all Dockerfiles into single consolidated version
  Dockerfile
  Dockerfile.fixed
  Dockerfile.multistage
  Dockerfile.new
  deployment/cloud-run/Dockerfile
  deployment/cloud-run/Dockerfile.consolidated
  deployment/cloud-run/Dockerfile.minimal
  deployment/cloud-run/Dockerfile.secure
  deployment/cloud-run/Dockerfile.unified
  deployment/cloud-run/requirements_minimal.txt
Due: none

🔧 Fix code review issues: standardize Flask/Gunicorn versions and remove unused httpx
  deployment/cloud-run/requirements.txt
  deployment/cloud-run/requirements_minimal.txt
  deployment/cloud-run/requirements_onnx.txt
  deployment/cloud-run/requirements_production.txt
  deployment/cloud-run/requirements_secure.txt
  deployment/cloud-run/requirements_unified.txt
  environment.yml
  requirements-api.txt
  scripts/deployment/security_deployment_fix.py
  src/unified_ai_api.py
Due: flask-debug-security-check, host-binding-security-check, pip-audit-reqs

🔧 Fix Dockerfile issues: remove arch-specific pinning, fix paths, and improve build reliability
  deployment/cloud-run/Dockerfile.consolidated
  deployment/cloud-run/README-consolidated-dockerfile.md
Due: none

🔧 Address all nitpick comments: fix httpx constraints, remove emojis, improve logging, and add buildx docs
  constraints.txt
  deployment/cloud-run/Dockerfile.consolidated
  deployment/cloud-run/README-consolidated-dockerfile.md
  deployment/cloud-run/requirements_minimal.txt
  deployment/gcp/requirements.txt
  deployment/local/requirements.txt
  deployment/requirements.txt
  requirements-audio.txt
  requirements-dev.txt
  requirements-ml.txt
  scripts/requirements_vertex_ai.txt
  src/unified_ai_api.py
Due: flask-debug-security-check, host-binding-security-check, pip-audit-reqs

🔧 Fix final nitpick comments: remove redundant gunicorn and python-dotenv from secure requirements
  deployment/cloud-run/requirements_secure.txt
Due: none

🔧 Fix linting issues: continuation line indentation, long lines, and trailing whitespace
  deployment/cloud-run/requirements_production.txt
  deployment/requirements.txt
  src/input_sanitizer.py
  src/models/emotion_detection/dataset_loader.py
  src/models/secure_loader/__init__.py
  src/models/secure_loader/integrity_checker.py
  src/models/secure_loader/model_validator.py
  src/models/secure_loader/sandbox_executor.py
  src/models/secure_loader/secure_model_loader.py
  src/monitoring/dashboard.py
  src/security/jwt_manager.py
  src/security_headers.py
  src/unified_ai_api.py
Due: flask-debug-security-check, host-binding-security-check

🔧 Fix Dockerfile architecture pinning and standardize prometheus-client versions
  docker/Dockerfile.prod
  docs/summaries/simple-tokenizer-fix-summary.md.backup
Due: none

🔧 Fix DeepSource PYL-W1203: Convert all f-string logging to parameterized logging for performance
  src/unified_ai_api.py
Due: flask-debug-security-check, host-binding-security-check

Path conditions:
  flask-debug-security-check: any of: \.py$
  host-binding-security-check: any of: \.py$
  pip-audit-reqs: any of: ^requirements.*\.txt$
